.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

h1, h2{
    color:#42032C;
}

.searchButton{
    background-color: green;
    color : white;
}

.justify-content-center{
    margin-top: 250px;
}
body{
    background-image: url("../images/new-key-background.jpg");
}

.card-body{
    background-color: #fbf7f7;
}

.form-control{
    background-color:#fbf7f7 ;
}

.fas{
    color: green;
}